.searchfield {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 14px;
    gap: 15px;
    background: none;
  }

  .backButton{
    color:white;
  }

  .input {
    outline: none;
    background: none;
  }

  .profileDiv{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
    font-size: 21px;
  }

  .profilepic {
    border-radius: 50%;
  }


  /* Media Queries for Responsiveness */



@media (max-width: 480px) {
  .welcome{
    font-size: 12px;
  }
  .profileDiv{
    width: 50%;
    gap: 2px;
  }

  
}